# Python specific
_pycache_/
*.pyc
*.pyo
*.pyd
*.pdb
*.db
*.sqlite3

# Virtual environment
venv/
ENV/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE specific files
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln
*.swp
*.swo
*.log

# Operating system specific
.DS_Store
Thumbs.db

# Miscellaneous
*.bak
*.tmp
*.swp

# Logs
*.log
